
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <marquee scrollamount=10: style="color:rgb(0, 0, 0); font-size:100pt;">News</marquee>
        <p class="lead text-muted">ニュースを見ていろんな情報を見てみよう</p>
        <p>
          {% if user.is_authenticated %}

          <a href="{% url 'news:post' %}"
             class="btn btn-primary my-2">ニュースを投稿</a>
          <a href="{% url 'accounts:logout' %}"
             class="btn btn-secondary my-2">ログアウト</a>
          {% else %}
          <a href="{% url 'accounts:signup' %}" 
             class="btn btn-primary my-2">今すぐサインアップ</a>
          <a href="{% url 'accounts:login' %}" 
             class="btn btn-secondary my-2">登録済みの方はログイン</a>
          {% endif %}
        </p>
      </div>
    </div>
  </section>
